/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
}


#wrapper {
    position: relative;
    width: 100%;
    overflow: auto;
}
#formwrapper {
    width: 90%;
    background-color: #e5edf1;
    padding: 50px 5%;
    margin-top: 0px;
}


/* ==========================================================================
   Navigation tab styles.
   ========================================================================== */

#tabnav {
}

#tabnav a {
    display: block;
    float: left;
    border: 1px solid #777;
    margin: 0 5px -1px 0;
    text-decoration: none;
    padding: 3px 6px;
    color: #777;
    background-color: #eee;
}

#tabnav a:hover {
    background-color: #fff;
}

#tabnav a.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

#tabnav_content {
    border: 1px solid #777;
    width: 100%;
    padding: 0 10px;
}
